<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">

<!-- 베이지색 헤더 -->
<header>
    <div class="categories" id="menuToggle"><i class="fas fa-bars"></i></div>
    <div class="side-menu" id="sideMenu">
        <ul>
            <li><a href="main.html">Home</a></li>
            <li>About</li>
            <li>Services</li>
            <li>Contact</li>
        </ul>
    </div>
    <a href="index.html" class="logo"><img th:src="@{/static-images/logo_bg.png}" alt="logo"></a>
    <div class="nav header-btns">
        <a href="#">SIGN UP</a>
        <a href="#">LOGIN</a>
        <a href="#">CART</a>
    </div>
</header>
</div>