<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필연 : 必然</title>
    <th:block layout:fragment="css">
        <link href="css/index.css" rel="stylesheet">
        <link href="css/header.css" rel="stylesheet">
        <link href="css/footer.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </th:block>
</head>
<body>
<div th:replace="~{fragments/header::header}"></div>

    <!-- ===========================================
                          수정사항
            배너 이미지가 네 번째 이미지 이후로 넘어가면
            초기화가 아니라 흰 배경으로 보여짐.
         ===========================================
    -->
    <!-- banner -->
    <div id="carouselControls" class="carousel slide margin" data-ride="carousel">
    <div class="slider-container">
        <div class="slider">
            <div class="slide"><img th:src="@{/static-images/image1.jpg}" alt="Image 1"></div>
            <div class="slide"><img th:src="@{/static-images/image2.jpg}" alt="Image 2"></div>
            <div class="slide"><img th:src="@{/static-images/image3.jpg}" alt="Image 3"></div>
            <div class="slide"><img th:src="@{/static-images/image4.jpg}" alt="Image 4"></div>
        </div>
        <div class="indicator-container">
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
        </div>
    </div>
    </div>
    <div class="products-container">
        <h2>PRODUCTS</h2>
    
        <!-- 첫 번째 줄 -->
        <div class="products-section section1">
            <div class="item product1">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/011.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">애니멀 연필깎이 - 코끼리<br>Animal Sharpener Rice Resin - Elephant</h3>
                    <p class="product-price">5,500원</p>
                </div>
            </div>
    
            <div class="item product2">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/013.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">Pencil Eraser Caps<br><br></h3>
                    <p class="product-price">4,000원</p>
                </div>
            </div>
    
            <div class="item product3">
                <a href="/상품상세페이지">ㄴ
                    <img th:src="@{/static-images/product/014.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">Carl Angel-5 Royal 3 Pencil Sharpener<br><br></h3>
                    <p class="product-price">75,000원</p>
                </div>
            </div>
    
            <div class="item product4">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/004.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">블랙윙 연필<br>Blackwing Vol.574</h3>
                    <p class="product-price">56,000원</p>
                </div>
            </div>
    
            <div class="item product5">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/012.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">CARAN D’ACHE SWISS WOOD<br><br></h3>
                    <p class="product-price">7,000원</p>
                </div>
            </div>
        </div>
    
        <!-- 두 번째 줄 -->
        <div class="products-section section2">
            <div class="item product6">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/015.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">체크리스트 메모지+미니연필<br><br></h3>
                    <p class="product-price">3,000원</p>
                </div>
            </div>
    
            <div class="item product7">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/007.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">스노우 글로브 120mm<br>Snowglobe 120mm - Scene</h3>
                    <p class="product-price">79,000원</p>
                </div>
            </div>
    
            <div class="item product8">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/008.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">Writing Desk Box Ver.2<br><br></h3>
                    <p class="product-price">155,000원</p>
                </div>
            </div>
    
            <div class="item product9">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/009.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">인스피레이션 스탬프<br>Inspiration Stamp</h3>
                    <p class="product-price">4,500원</p>
                </div>
            </div>
    
            <div class="item product10">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/010.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">라디오미터<br>Radiometer Short 60mm</h3>
                    <p class="product-price">79,000원</p>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="~{fragments/footer::footer}"></div>

    <th:block layout:fragment="script">
        <script src="/js/adminBtn.js"></script>
        <script th:inline="javascript">
                // banner script
                // slide and indicator
                let currentIndex = 0;
                const slides = document.querySelectorAll('.slide');
                const indicators = document.querySelectorAll('.indicator');
                const slider = document.querySelector('.slider');

                function changeSlide() {
                    slider.style.transform = `translateX(-${100 * currentIndex}vw)`;

                    indicators.forEach(indicator => indicator.classList.remove('active'));
                    indicators[currentIndex].classList.add('active');

                    currentIndex = (currentIndex + 1) % slides.length;
                }

                setInterval(() => {
                    changeSlide();
                }, 4000);

                changeSlide();
            });
        </script>
    </th:block>
</body>
</html>
