<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>필연 : 必然</title>
    <th:block layout:fragment="css">
        <link href="css/main.css" rel="stylesheet">
        <link href="css/common/header.css" rel="stylesheet">
        <link href="css/common/footer.css" rel="stylesheet">
        <link rel="icon" href="static-images/favicon.png" type="image/png">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    </th:block>
</head>
<body>
    <div th:replace="~{fragments/header::header}"></div>

    <!-- banner -->
    <div id="carouselControls" class="carousel slide margin" data-ride="carousel">
    <div class="slider-container">
        <div class="slider">
            <div class="slide"><img th:src="@{/static-images/image1.jpg}" alt="Image 1"></div>
            <div class="slide"><img th:src="@{/static-images/image2.jpg}" alt="Image 2"></div>
            <div class="slide"><img th:src="@{/static-images/image3.jpg}" alt="Image 3"></div>
            <div class="slide"><img th:src="@{/static-images/image4.jpg}" alt="Image 4"></div>
        </div>
        <div class="indicator-container">
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
            <div class="indicator"></div>
        </div>
    </div>
    </div>
    <div class="products-container">
        <h2>PRODUCTS</h2>
        <!-- 검색 쿼리를 숨겨진 입력 필드로 전달 -->
        <input type="hidden" name="searchQuery" th:value="${itemSearchDto.searchQuery}">

        <!-- 검색 쿼리가 비어있지 않을 때만 결과 메시지를 표시 -->
        <div th:if="${not #strings.isEmpty(itemSearchDto.searchQuery)}" class="center">
            <p class="h3 font-weight-bold" th:text="${itemSearchDto.searchQuery} + '검색 결과'"></p>
        </div>

        <!-- 첫 번째 줄 -->
        <div class="products-section section1">

            <!-- items의 내용을 반복하여 각 아이템을 카드 형태로 표시 -->
            <th:block th:each="item, status: ${items.getContent()}">
                <div class="item product1">
                    <!-- 아이템 상세 페이지로 링크를 설정 -->
                    <a th:href="@{/item/{itemId}(itemId=${item.id})}" class="text-dark">
                        <!-- 아이템 이미지 표시 -->
                        <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                    </a>
                        <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                        <div class="product-info">
                            <h3 class="product-name">[[${item.itemNm}]]</h3>
                            <p class="product-price">[[${item.price}]]원</p>
                        </div>
                </div>
            </th:block>

            <div class="item product2">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/013.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">Pencil Eraser Caps<br><br></h3>
                    <p class="product-price">4,000원</p>
                </div>
            </div>
    
            <div class="item product3">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/014.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">Carl Angel-5 Royal 3 Pencil Sharpener<br><br></h3>
                    <p class="product-price">75,000원</p>
                </div>
            </div>
    
            <div class="item product5">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/012.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">CARAN D’ACHE SWISS WOOD<br><br></h3>
                    <p class="product-price">7,000원</p>
                </div>
            </div>
        </div>
    
        <!-- 두 번째 줄 -->
        <div class="products-section section2">
            <div class="item product6">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/015.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">체크리스트 메모지+미니연필<br><br></h3>
                    <p class="product-price">3,000원</p>
                </div>
            </div>
    
            <div class="item product7">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/007.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">스노우 글로브 120mm<br>Snowglobe 120mm - Scene</h3>
                    <p class="product-price">79,000원</p>
                </div>
            </div>
    
            <div class="item product8">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/008.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">Writing Desk Box Ver.2<br><br></h3>
                    <p class="product-price">155,000원</p>
                </div>
            </div>
    
            <div class="item product9">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/009.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">인스피레이션 스탬프<br>Inspiration Stamp</h3>
                    <p class="product-price">4,500원</p>
                </div>
            </div>
    
            <div class="item product10">
                <a href="/상품상세페이지">
                    <img th:src="@{/static-images/product/010.png}">
                    <div class="view-button"><i class="fas fa-search"></i> VIEW DETAILS</div>
                </a>
                <div class="product-info">
                    <h3 class="product-name">라디오미터<br>Radiometer Short 60mm</h3>
                    <p class="product-price">79,000원</p>
                </div>
            </div>
        </div>
    </div>

    <!-- 페이지네이션을 위한 시작과 끝 페이지 계산 -->
    <div th:with="start=${(items.number/maxPage)*maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})">
        <ul class="pagination justify-content-center">

            <!-- 이전 페이지 버튼, 현재 페이지가 첫 페이지일 경우 비활성화 -->
            <li class="page-item" th:classappend="${items.number eq 0}?'disabled':''">
                <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <!-- 페이지 번호 생성 및 표시 -->
            <li class="page-item page-number" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <!-- 다음 페이지 버튼, 현재 페이지가 마지막 페이지일 경우 비활성화 -->
            <li class="page-item" th:classappend="${items.number+1 ge items.totalPages}?'disabled':''">
                <a th:href="@{'/' +'?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

    <div th:replace="~{fragments/footer::footer}"></div>

    <th:block layout:fragment="script">
        <script src="/js/adminBtn.js"></script>
        <script th:inline="javascript">
            document.addEventListener("DOMContentLoaded", function() {
                // banner script
                // slide and indicator
                let currentIndex = 0;
                const slides = document.querySelectorAll('.slide');
                const indicators = document.querySelectorAll('.indicator');
                const slider = document.querySelector('.slider');

                function changeSlide() {
                    slider.style.transform = `translateX(-${100 * currentIndex}vw)`;

                    indicators.forEach(indicator => indicator.classList.remove('active'));
                    indicators[currentIndex].classList.add('active');

                    currentIndex = (currentIndex + 1) % slides.length;
                }

                setInterval(() => {
                    changeSlide();
                }, 4000);

                changeSlide();
            });
        </script>
    </th:block>
</body>
</html>
